/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Home section styles */
#home {
  background-color: #f4f4f4;
  padding: 100px 0;
  text-align: center;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2020c6;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.cta-button:hover, .cta-button:focus, .cta-button:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* About section styles */
#about {
  padding: 100px 0;
  background-color: #fff;
}

/* Projects section styles */
#projects {
  padding: 100px 0;
  background-color: #f4f4f4;
}

.project {
  margin-bottom: 20px;
}

/* Contact section styles */
#contact {
  padding: 100px 0;
  background-color: #fff;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

form button {
  padding: 10px 20px;
  background-color: #2931bf;
  color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

form button:hover, form button:focus, form button:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
